<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication"
    xmlns:tools="http://schemas.android.com/tools">

<!--    <uses-feature-->
<!--        android:name="android.hardware.telephony"-->
<!--        android:required="false" />-->
<!--    <uses-feature-->
<!--        android:name="android.hardware.camera"-->
<!--        android:required="false" />-->

    <!-- To perform action on device reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To perform action after exact time -->
<!--    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />-->
<!--    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />-->

    <!-- Experimentation -->
<!--    <uses-permission android:name="android.permission.RECORD_AUDIO" />-->
<!--    <uses-permission android:name="android.permission.CAMERA" />-->
<!--    <uses-permission android:name="android.permission.CALL_PHONE" />-->

    <!-- To show notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!--    <uses-permission android:name="android.permission.WAKE_LOCK" />-->

    <application
        android:name=".TodoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:directBootAware="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- To perform action on device reboot -->
        <!--<receiver
            android:name=".BootCompletedReceiver"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>-->
        <!-- To perform action after exact time -->
        <!--<receiver android:name=".AlarmReceiver" />-->

        <receiver
            android:name=".BootCompletedReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".MainWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/main_widget_info"/>
        </receiver>
    </application>
</manifest>